body {
    font-family: 'Montserrat', sans-serif;   
}

#title {
    background-color: #439A97;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;   
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;   
    font-size: 1.5rem;
    font-weight: 900;
}

p{
    color: #8f8f8f;
}



.container-fluid {
    padding: 3% 15%;
}

#features .container-fluid {
    padding: 7% 15%;
}

.top-container {
    padding-bottom: 8%;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat";
    font-size: 1.2rem;
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

.download-button-2 {
    margin: 5% 0% 5% 0;
}

/* Title Image */

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
} 

/* Middle Icons */

.icon {
    color: #62B6B7;
    padding-bottom: 7%;
}

#features {
    padding-top: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5% 5% 2% 5%;
}

/* HOVER DYNAMICS */

.icon:hover {
    color: #439A97;
}

/* Testimonials Section */

#testimonials {
    text-align: center;
    background-color: #439A97;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #439A97;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

.Pricing-text {
    text-align: center;
    padding-top: 3%;
}

.btn-primary {
    background-color: #62B6B7;
}

.btn-primary:hover {
    background-color: #439A97;
}

.btn-block {
    display: block;
    width: 100%;
}

.card-price {
    font-size: 50px;
}

#cta {
    text-align: center;
    padding: 2% 1% 2%;
    background-color: #439A97;
    color: #fff;
}

#footer {
    text-align: center;
    padding-top: 7%;
}

.footer-button {
    margin-top: 40px;
}

.last-message {
    padding-top: 4%;
    font-size: 45px;
}

.footer-copyright {
    padding-top: 2%;
}

.pricing-container {
    padding: 1% 14% 5% 14%;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        width: 50%;
        padding-top: 15px;
        position: static;
        transform: rotate(0);
    }

    .navbar {
        padding-bottom: 10%;
    }

}